
.typing-indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    height: 10px;
    width: 10px;
    margin: 0 3px;
    background-color: #9E9E9E;
    border-radius: 50%;
    animation: typing 1.4s infinite both;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }

    &:nth-child(2) {
      animation-delay: 0.4s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes typing {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
